.policy {
    padding-top: 10rem;
}
.policy .text {
    max-width: 100%;
}
.policy__subtitle {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.policy__link {
    color: var(--accent-color);
    position: relative;
    font-size: 1.6rem;
}
.policy__link::after {
    display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: .1rem;
  background-color: var(--accent-color);
  content: '';
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}
.policy__link:hover::after {
  width: 100%;
}
@media screen and (min-width: 1024px) {
    .policy__link {
        font-size: 1.8rem;
    }
}